@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 전체 선택 */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    text-decoration-line: none;
    font-family: "Pretendard-Regular";
}
/* 헤더배치 */
.header {
    background-color: rgb(153, 255, 0);
}


/* 글자 로고 색깔 */
.header h1 a{
    color: black;
}

/* 글자로고 */
.header h1{
    margin-left: 5%;
    
}
/* 메뉴요소 배치 */
.header .nav{
    float: right;
    margin-top: -3vh;
    margin-right: 10%;
    
}
/* 메뉴요소 스타일링 */
.header .nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}

/* 메뉴 요소 색깔 */
.header .nav ul li a{
    color: black;
}

.header{
    position: relative;
    z-index: 99999;
}



#section1{
    width: 100%;
    height: 100vh;
    background-image: url('../img/enviro8.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;

}
#section2{
    width: 100%;
    height: 100vh;
    background-image: url('../img/enviro9.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;

}
#section3{
    width: 100%;
    height: 100vh;
    background-image: url('../img/enviro10.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;

}

.seol{
    position: absolute;
    border: 1px solid black;
    width: 30%;
    height: 30%;
    bottom: 10%;
    color: white;
    margin-left: 3%;
    background-position: center;
    background-color: black; opacity : 0.5;
    padding: 20px;
}

.seol h1{
    color: white;
}

.seol p{
    color: white;
    margin-top: 10px;
}

#title{
    position: absolute;
    border: 1px solid black;
    width: 30%;
    height: 30%;
    bottom: 65%;
    color: white;
    margin-left: 67%;
    background-position: center;
    background-color: black; opacity : 0.5;
    padding: 20px;
}

#title p{
    color: white;
}

